<config>

	<!--
		List of light textures.
		Note: default name vehiclelights128 is not recommended due to default lights affecting .
	--> 
	<textures>
		<texture name="vehiclelights" />
	</textures>

	<!--
		List of custom lights. Every light has his own unique RGB flag,
		which actually means material diffuse of lights texture
		(yes, it works likes default GTA:SA lights flags, but actually it is just diffuse color).
		Note: if u works with ZModeller, remember that DFF importing resets all diffuse colors! Work with ZModeler project files. 
		Note: due to technical limits flag must not have zeros (1 is minimum)!

		Dummy is used for creating light custom coronas.  
		Note: Default dummy side for paired lights is right! (it likes default GTA:SA lights)
		For left side use [mirrored="true"].
		Every dummy must have correct direction (rotation). Its direction is used as corona light direction.
		Default GTA:SA lights dummies are also allowed.
	-->	
	<lights>
	
		<!-- head light doesn't create custom corona, default SA light effect is using -->
		<light name="head_l"		flag="255,175,1"	/>
		<light name="head_r"		flag="1,255,200"	/>
	
		<light name="indicatorf_l"	flag="255,174,1"	dummy="indicatorsf"		size="0.1"	color="255,180,0,90"	mirrored="true"	/>
		<light name="indicatorf_r"	flag="1,255,199"	dummy="indicatorsf"		size="0.1"	color="255,180,0,90"	/>
	
		<light name="fogf_l"		flag="255,173,1"	dummy="foglightsf"		size="0.14"	color="255,230,0,130"	mirrored="true"	/>
		<light name="fogf_r"		flag="1,255,198"	dummy="foglightsf"		size="0.14"	color="255,230,0,130"	/>
			
		<light name="parkf_l"		flag="255,171,1"	dummy="parklightsf"		size="0.05"	color="255,255,200,90"	mirrored="true"	/>
		<light name="parkf_r"		flag="1,255,196"	dummy="parklightsf"		size="0.05" color="255,255,200,90"	/>
		
		<light name="indicator_l"	flag="1,195,255"	dummy="indicators"		size="0.05"	color="255,180,0,90"	mirrored="true" />
		<light name="indicator_r"	flag="120,1,255"	dummy="indicators"		size="0.05" color="255,180,0,90"	/>
	
		<!-- default gta sa rear lights dummy 'taillights' is used here -->
		<light name="tail_l" 		flag="185,255,1"	dummy="taillights"		size="0.1"	color="255,0,0,90"		mirrored="true" />
		<light name="tail_r" 		flag="255,60,1"		dummy="taillights"		size="0.1"	color="255,0,0,90"		/>
	
		<light name="brake_l" 		flag="184,255,1"	dummy="brakelights"		size="0.11"	color="255,0,0,130"		mirrored="true" />
		<light name="brake_r" 		flag="255,59,1"		dummy="brakelights"		size="0.11"	color="255,0,0,130"		/>
	
		<light name="reverse_l" 	flag="183,255,1"	dummy="reverselights"	size="0.08"	color="255,255,200,90"	mirrored="true" />
		<light name="reverse_r" 	flag="255,58,1"		dummy="reverselights"	size="0.08"	color="255,255,200,90"	/>
	
		<light name="indicatorr_l"	flag="182,255,1"	dummy="indicatorsr"		size="0.1"	color="255,180,0,90"	mirrored="true" />
		<light name="indicatorr_r"	flag="255,57,1"		dummy="indicatorsr"		size="0.1"	color="255,180,0,90"	/>
	
		<light name="fogr_l"		flag="181,255,1"	dummy="foglightsr"		size="0.1" color="255,0,0,130"		mirrored="true" />
		<light name="fogr_r"		flag="255,56,1"		dummy="foglightsr"		size="0.1" color="255,0,0,130"		/>
	
	</lights>

</config>